<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <% flash.each do |name, msg| %>
                <% unless msg == "Signed out successfully." %>
                    <div class="alert alert-danger alert-dismissable text-center">
                        <button data-dismiss="alert" class="close" type="button">x</button>
                        <strong><%= msg %></strong>
                    </div>
                <% end %>
            <% end %>
        </div>
   </div> 
    <div class="form-group">
        <%= f.label :email,:class => "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <%= f.email_field :email, autofocus: true,:class => "form-control" %>
        </div>
    </div> 
    <div class="form-group">
        <%= f.label :password,:class => "col-sm-2 control-label"%>
        <div class="col-sm-6">
            <%= f.password_field :password, autocomplete: "off",:class => "form-control" %>
        </div>    
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Sign in",:class => "btn btn-primary" %>
        </div>
    </div>
<% end %>

